/* ------------------------
   Global Imports
   ------------------------*/
/* ------------------------
   Base Imports
   ------------------------*/
/* -------------------------------------------
   Base Styles
   ------------------------------------------*/
/* ------------------------
Header Styles
------------------------*/
header {
  height: 85px; }

#logo {
  height: 80px;
  width: 257px;
  margin-top: 10px; }

.header-contact-info {
  margin: 10px 0 0 40px; }

/* ------------------------
Navigation
------------------------*/
nav {
  margin-top: 25px; }

.nav-tabs > li > a {
  margin-right: 15px; }

 /* ------------------------
Breadcrumbs
------------------------*/
.breadcrumb-title {
  color: #fff;
  margin-top: 16px; }

.breadcrumb-links {
  margin-top: 35px; }

.breadcrumb-links a {
  color: #fff;
  padding: 10px; }

/* ------------------------
Section
------------------------*/
.section-title {
  text-align: center;
  margin-top: 75px; }

/* ------------------------
Footer
------------------------*/
#footer {
  background-image: url(../img/footer-bg.png);
  background-repeat: repeat; }

#footer-logo {
  height: 71px;
  width: 251px; }

.footer-col {
  margin-top: 75px;
  margin-bottom: 100px; }

.footer-col h4 {
  color: #1080d1; }

#elp-logo {
  width: 275px;
  height: auto;
  margin-top: -30px; }

.footer-col p {
  color: white;
  line-height: 1; }

#copyright {
  padding-top: 20px; }

.footer-text {
  margin-top: 30px; }

/* ------------------------
   Layout Imports
   ------------------------*/
/* ------------------------
Main Slider
------------------------*/
.my-slider {
  background-position: center center;
  background-size: cover;
  height: 600px;
  min-width: 80%; }

#blue-slide > img,
#house-slide > img,
#car-slide > img {
  width: 100%;
  height: 75%;
  background-position: center center;
  background-repeat: no-repeat; }

#blue-slide p {
  color: #fff; }

/* ------------------------
Products
------------------------*/
#products-title,
#products-text {
  text-align: center; }

.product-link-text {
  margin-top: 20px; }

.product-photos {
  margin-top: 130px;
  text-align: center; }

.product-photos > div > a > img {
  border-radius: 50%; }

.product-link-text {
  display: block;
  text-align: center;
  margin-bottom: 150px; }

/* ------------------------
Who We Are
------------------------*/
.who-we-are h4,
.who-we-are h2,
.who-we-are h3 {
  color: #fff;
  text-align: center; }

#who-we-are {
  background-image: url(../img/home-street.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px; }

.who-we-are h4 {
  margin-top: 120px; }

.who-we-are a {
  display: block;
  text-align: center; }

/* ------------------------
Personal Service
------------------------*/
#personal-service {
  height: 350px; }

.personal-service h4,
.personal-service h2,
.personal-service h3 {
  text-align: center; }

.personal-service h4 {
  margin-top: 80px; }

/* ----------------------------------------
   About Us Page
   ---------------------------------------*/
/* ------------------------
Breadcrumb Bar
------------------------*/
.breadcrumb-bar {
  height: 110px;
  background-image: url(../img/blue-bg.jpg); }

.breadcrumb-text h3 {
  color: #fff; }

/* ------------------------
Meet Our Staff
------------------------*/
.meet-staff-col {
  margin-top: 100px;
  margin-bottom: 200px; }

.img-box {
  height: 331px;
  width: 260px;
  border: 1px solid grey; }

.img-box img {
  max-height: 100%;
  max-width: 100%; }

.bottom-blue-bar {
  height: 8px;
  background-color: #232ed1;
  width: 260px; }

/* ------------------------
   About Us
   ------------------------*/
.about-us {
  height: 600px;
  background: url(../img/blurred-img.jpg) center center no-repeat;
  background-attachment: fixed;
  background-size: cover; }

.about-us h1 {
  color: #fff;
  text-align: center;
  margin-top: 220px; }

.about-us-description p {
  color: #fff;
  text-align: center; }

/* ------------------------
  Have Questions?
  ------------------------*/
.have-questions {
  height: 200px; }

.question {
  margin-top: 70px; }

/* .get-in-touch {
 	margin-top: -30px;
 }*/
.claims-col {
  text-align: center;
  margin-bottom: 30px; }

.claims-col a {
  display: block; }

.payments-link {
  margin-top: 40px; }

.first-logo-row,
.second-logo-row {
  padding: 100px 0 100px 0; }

.second-logo-row {
  background-color: #f7f7f7; }

/* ------------------------
   Contact Us
   ------------------------*/
form input,
textarea {
  width: 100%;
  border-style: solid;
  border-width: thin;
  border-color: #ccc; }

form input {
  height: 40px; }

textarea:focus,
input:focus {
  outline: none; }

.contact-information {
  text-align: center; }

/* ------------------------
   Insurance Offerings
   ------------------------*/
.offerings-col h1,
.offerings-col h3 {
  text-align: center; }

table {
  margin: 30px auto 0 auto;
  font-size: 14px; }

table, th, td {
  border: 1px solid #ccc;
  border-collapse: collapse; }

th, td {
  padding: 0.8571rem 15rem 0.8571rem 15rem;
  text-align: center; }

#personal-lines {
  background-color: #232ed1;
  color: #fff; }

#commercial-lines {
  background-color: #ccc; }

.table-col {
  padding: 0; }

.table-col-wrapper {
  margin-bottom: 100px; }

/* ------------------------
   Components Imports
   ------------------------*/
.btn-sm {
  color: #fff;
  border: 1px solid #fff;
  width: 20%; }

.btn-sm:hover {
  background-color: #fff;
  color: transparent; }

@media screen and (min-width: 991px) {
  #logo {
    height: 30%;
    width: 70%; } }
@media screen and (max-width: 991px) {
  .header-contact-info {
    display: none; }

  .question {
    margin-left: 20%; }

  .get-in-touch {
    margin-top: 30px;
    margin-left: 30%; } }

/*# sourceMappingURL=application.css.map */
