/* ------------------------
   Global Imports
   ------------------------*/
/* ------------------------
   Base Imports
   ------------------------*/
/* -------------------------------------------
   Base Styles
   ------------------------------------------*/
/* ------------------------
Header Styles
------------------------*/
header {
  height: 85px; }

#logo {
  height: 80px;
  width: 257px;
  margin-top: 10px; }

.header-contact-info {
  margin: 10px 0 0 40px; }

/* ------------------------
Navigation
------------------------*/
nav {
  margin-top: 25px; }

.nav-tabs > li > a {
  margin-right: 15px; }

/* ------------------------
   Slider
   ------------------------*/
 /* ------------------------
Breadcrumbs
------------------------*/
.breadcrumb-title {
  color: #fff;
  margin-top: 16px; }

.breadcrumb-links {
  margin-top: 35px;
  margin-left: -20px;
  width: 22%; }

.breadcrumb-links a {
  color: #fff;
  padding: 10px; }

.greater-than {
  color: white;
  display: inline-block; }

/* ------------------------
Section
------------------------*/
.section-title {
  text-align: center;
  margin-top: 75px; }

/* ------------------------
Footer
------------------------*/
#footer {
  background-image: url(../img/footer-bg.png);
  background-repeat: repeat; }

#footer-logo {
  height: 71px;
  width: 251px; }

.footer-col {
  margin-top: 75px;
  margin-bottom: 100px; }

.footer-col h4 {
  color: #1080d1; }

#elp-logo {
  width: 275px;
  height: auto;
  margin-top: -30px; }

.footer-col p {
  color: white;
  line-height: 1; }

#copyright {
  padding-top: 20px; }

.footer-text {
  margin-top: 30px; }

/* ------------------------
   Layout Imports
   ------------------------*/
/* ------------------------
Main Slider
------------------------*/
.my-slider {
  max-height: 600px; }

#blue-slide > img,
#house-slide > img,
#car-slide > img,
#farm-slide > img,
#sb-slide > img {
  max-width: 100%;
  min-height: 50%; }

.unslider-nav ol li {
  border: 1px solid #232ed1;
  width: 9px;
  height: 9px; }

.unslider-nav ol li.unslider-active {
  background: #232ed1; }

.image {
  position: relative; }

.image img {
  width: 100%; }

.image h1,
.image h4 {
  position: absolute;
  color: #fff; }

.image h4 {
  top: 10%;
  left: 12%; }

#harms-insurance-slide-text {
  top: 18%;
  left: 12%; }

.image h1 {
  position: absolute;
  top: 25%;
  left: 12%; }

#we-provide {
  top: 24%;
  left: 12%; }

#insurance-needs {
  top: 34%; }

.image a {
  position: absolute;
  top: 52%;
  left: 12%; }

#home-slider-text {
  top: 60%;
  left: 30%; }

.unslider-arrow {
  font-size: 48px;
  top: 440px;
  color: #fff; }

/* ------------------------
Products
------------------------*/
#products-title,
#products-text {
  text-align: center; }

.product-link-text {
  margin-top: 20px; }

.product-photos {
  margin-top: 130px;
  text-align: center; }

.product-photos > div > a > img {
  border-radius: 50%; }

.product-link-text {
  display: block;
  text-align: center;
  margin-bottom: 150px; }

/* ------------------------
Who We Are
------------------------*/
.who-we-are-text h4,
.who-we-are-text h2,
.who-we-are-text h3 {
  color: #fff;
  text-align: center; }

#who-we-are {
  background-image: url(../img/home-street.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px; }

.who-we-are-text h4 {
  margin-top: 60px; }

#thanks {
  margin-top: 40px; }

/* ------------------------
Personal Service
------------------------*/
#personal-service {
  height: 350px; }

.personal-service h4,
.personal-service h2,
.personal-service h3 {
  text-align: center; }

.personal-service h4 {
  margin-top: 80px; }

#we-offer {
  margin-top: 30px; }

/* ----------------------------------------
   About Us Page
   ---------------------------------------*/
/* ------------------------
Breadcrumb Bar
------------------------*/
.breadcrumb-bar {
  height: 110px;
  background-image: url(../img/blue-bg.jpg); }

.breadcrumb-text h3 {
  color: #fff; }

/* ------------------------
Meet Our Staff
------------------------*/
.meet-staff-col {
  margin-top: 100px;
  margin-bottom: 200px; }

.img-box,
.bottom-blue-bar {
  width: 260px;
  margin: 0 auto; }

.img-box {
  height: 331px;
  border: 1px solid grey; }

.bottom-blue-bar {
  height: 8px;
  background-color: #232ed1; }

.img-box img {
  max-height: 100%;
  max-width: 100%; }

/* ------------------------
   About Us
   ------------------------*/
.about-us {
  height: 600px;
  background: url(../img/blurred-img.jpg) center center no-repeat;
  background-attachment: fixed;
  background-size: cover; }

.about-us h1 {
  color: #fff;
  text-align: center;
  margin-top: 220px; }

.about-us-description p {
  color: #fff;
  text-align: center; }

/* ------------------------
  Have Questions?
  ------------------------*/
.have-questions {
  height: 200px; }

.question,
.get-in-touch {
  text-align: center; }

.question {
  margin-top: 80px; }

.get-in-touch {
  margin-top: 100px; }

.claims-col {
  text-align: center;
  margin-bottom: 30px; }

.claims-col a {
  display: block; }

.payments-link {
  margin-top: 40px; }

.first-logo-row,
.second-logo-row {
  padding: 100px 0 100px 0; }

.second-logo-row {
  background-color: #f7f7f7; }

/* ------------------------
   Contact Us
   ------------------------*/
form input,
textarea {
  width: 100%;
  border-style: solid;
  border-width: thin;
  border-color: #ccc; }

form input {
  height: 40px; }

.name-hint,
.email-hint {
  margin-left: 8px;
  color: red; }

textarea:focus,
input:focus {
  outline: none; }

.contact-information {
  text-align: center; }

#map {
  width: 100%;
  height: 300px;
  margin-top: 60px; }

#send-btn {
  padding: 2% 46% 2% 46%;
  border: 2px solid #232ed1; }

.send-btn-wrapper {
  margin: 45px 0 25px 0; }

/* ------------------------
   Insurance Offerings
   ------------------------*/
.offerings-col h1,
.offerings-col h3 {
  text-align: center; }

table {
  margin: 30px auto 0 auto;
  font-size: 14px; }

table, th, td {
  border: 1px solid #ccc;
  border-collapse: collapse; }

th, td {
  padding: 0.8571rem 15rem 0.8571rem 15rem;
  text-align: center; }

#personal-lines {
  background-color: #232ed1;
  color: #fff; }

#commercial-lines {
  background-color: #ccc; }

.table-col {
  padding: 0; }

.table-col-wrapper {
  margin-bottom: 100px; }

/* ------------------------
   Components Imports
   ------------------------*/
.btn-sm {
  color: #fff;
  border: 1px solid #fff;
  margin: 40px auto 0 auto;
  text-align: center;
  width: 15%;
  padding: 0.7143rem 0 0.7143rem 0; }

.btn-lg {
  color: #fff;
  border: 1px solid #fff;
  padding: 20px 42px 20px 42px; }

.btn-blue {
  border: 1px solid #232ed1;
  text-decoration: none;
  padding: 16px 22px; }

.btn-blue:hover {
  text-decoration: none; }

.who-we-are-text a {
  display: block; }

.who-we-are-text a:hover {
  color: #232ed1;
  background-color: #fff;
  text-decoration: none; }

/* ------------------------
   Typography
   ------------------------*/
* {
  font-family: 'Lato', sans-serif; }

.image h4 {
  font-size: .95rem; }

.image h1 {
  font-size: 2rem; }

#home-slider-text {
  font-size: 2rem; }

/* ------------------------
   Slider responsive text
   ------------------------*/
@media screen and (max-width: 768px) {
  .image a {
    padding: 10px 21px 10px 21px;
    top: 65%;
    font-size: 10px; } }
@media screen and (min-width: 768px) {
  .image h4 {
    font-size: 2rem; }

  .image h1 {
    font-size: 4rem; }

  #home-slider-text {
    font-size: 4rem;
    top: 70%;
    left: 35%; } }
@media screen and (max-width: 991px) {
  .breadcrumb-links {
    display: none; } }
@media screen and (min-width: 1200px) {
  #harms-insurance-slide-text {
    top: 14%; }

  .image h1 {
    font-size: 7rem; }

  #home-slider-text {
    font-size: 5rem;
    top: 48%;
    left: 35%; } }
@media screen and (min-width: 991px) {
  #logo {
    height: 30%;
    width: 70%; } }
@media screen and (max-width: 991px) {
  .header-contact-info {
    display: none; }

  /*.question {
  	margin-left: 20%;
  }*/
  .get-in-touch {
    margin-top: 30px; } }

/*# sourceMappingURL=application.css.map */
