

.claims-col {
	text-align: center;
	margin-bottom: 30px;
}

.claims-col a {
	display: block;
}

.payments-link {
	margin-top: 40px;
}

.first-logo-row,
.second-logo-row {
	padding: 100px 0 100px 0;
}

.second-logo-row {
	background-color: #f7f7f7;
}

