

   /* ------------------------
   Main Slider
   ------------------------*/ 

   .my-slider {
      max-height: 600px;
   }


   #blue-slide>img,
   #house-slide>img,
   #car-slide>img,
   #farm-slide>img,
   #sb-slide>img {
      max-width: 100%;
      min-height: 50%;
   }

   .unslider-nav ol li {
      border: 1px solid $color-main-blue;
      width: 9px;
      height: 9px;
   }

   .unslider-nav ol li.unslider-active {
         background: $color-main-blue;
   }

   .image {
      position: relative;
   }

   .image img {
      width: 100%;
   }

   .image h1,
   .image h4 {
      position: absolute;
      color: $color-text-light; 
   }

   .image h4 {
      top: 10%;
      left: 12%;
   }

   #harms-insurance-slide-text {
      top: 18%;
      left: 12%;
   }

   .image h1 {
      position: absolute;
      top: 25%;
      left: 12%;
   }

   #we-provide {
      top: 24%;
      left: 12%;
   }

   #insurance-needs {
      top: 34%;
   }

   .image a {
      position: absolute;
      top: 52%;
      left: 12%;
   }

   #home-slider-text {
      top: 60%;
      left: 30%;
   }

   .unslider-arrow {
      font-size: 48px;
      top: 440px;
      color: $color-text-light;
   }

   /* ------------------------
   Products
   ------------------------*/ 

   #products-title,
   #products-text {
      text-align: center;
   }

   .product-link-text {
      margin-top: 20px;
   }

   .product-photos {
      margin-top: 130px;
      text-align: center;
   }

   .product-photos>div>a>img {
      border-radius: 50%;

   }

   .product-link-text {
      display: block;
      text-align: center;
      margin-bottom: 150px;
   }


   /* ------------------------
   Who We Are
   ------------------------*/ 

   .who-we-are-text h4,
   .who-we-are-text h2,
   .who-we-are-text h3 {
      color: $color-text-light;
      text-align: center;
   }

   #who-we-are {
      background-image: url(../img/home-street.jpg);
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 450px;
   }


   .who-we-are-text h4 {
      margin-top: 60px;
   }

   #thanks {
      margin-top: 40px;
   }


   /* ------------------------
   Personal Service
   ------------------------*/
   #personal-service {
      height: 350px;
   }

   .personal-service h4,
   .personal-service h2,
   .personal-service h3 {
      text-align: center;
   }

   .personal-service h4 {
      margin-top: 80px;
   }

   #we-offer {
      margin-top: 30px;
   }












