
.btn-sm {
	color: $color-text-light;
	border: 1px solid $color-text-light;
	margin: 40px auto 0 auto;
  	text-align: center;
 	width: 15%;
  	padding: 0.7143rem 0 0.7143rem 0;
}

.btn-lg {
	color: $color-text-light;
	border: 1px solid $color-text-light;
	padding: 20px 42px 20px 42px;
}

.btn-blue {
	border: 1px solid $color-main-blue;
	text-decoration: none;
	padding: 16px 22px;
	
}

.btn-blue:hover {
	text-decoration: none;
}

.who-we-are-text a {
  display: block;
  
}

.who-we-are-text a:hover {
  color: $color-main-blue;
  background-color: $color-text-light;
  text-decoration: none;
}