/* -------------------------------------------
   Base Styles
   ------------------------------------------*/ 

   /* ------------------------
   Header Styles
   ------------------------*/ 

   header {
      height: 85px;
   }

    #logo {
      height: 80px;
      width: 257px;
      margin-top: 10px;

   }

   .header-contact-info {
      margin: 10px 0 0 40px;
   }

   /* ------------------------
   Navigation
   ------------------------*/ 

   nav {
      margin-top: 25px;
   }

   .nav-tabs>li>a {
      margin-right: 15px;
   }

    /* ------------------------
   Breadcrumbs
   ------------------------*/

   .breadcrumb-title {
      color: $color-text-light;
      margin-top: 16px;
   }

   .breadcrumb-links{
      margin-top: 35px;
   }

   .breadcrumb-links a {
      color: $color-text-light;
      padding: 10px;
   }

   /* ------------------------
   Section
   ------------------------*/

   .section-title {
      text-align: center;
      margin-top: 75px;
   }



   /* ------------------------
   Footer
   ------------------------*/

   #footer {
      background-image: url(../img/footer-bg.png);
      background-repeat: repeat;
   }

   #footer-logo {
      height: 71px;
      width: 251px;
   }

   .footer-col {
      margin-top: 75px;
      margin-bottom: 100px;
   }

   .footer-col h4 {
      color: #1080d1;
   }

   #elp-logo {
      width: 275px;
      height: auto;
      margin-top: -30px;
   }

   .footer-col p {
      color: white;
      line-height: 1;
   }

   #copyright {
      padding-top: 20px;
   }

   .footer-text {
      margin-top: 30px;
   }


 





   